# Ejercicios repaso de Python

## 1. `lista_digitos()`
Dado un número entero positivo, convierte el número en una lista donde cada elemento es un dígito del número original, pero en orden inverso. 

**Input:**
- Un número entero, por ejemplo: `348597`

**Output esperado:**
- Una lista de enteros con los dígitos en orden inverso, por ejemplo: `[7, 9, 5, 8, 4, 3]`

In [7]:
numero = 348597

In [25]:
def lista_digitos(numero):
  texto = str(numero)
  lista = list(texto)
  lista.reverse()
  return lista

In [26]:
lista_digitos(numero)

['7', '9', '5', '8', '4', '3']

In [27]:
lista_1 = [1,2,3,4]
lista_1.reverse()

In [28]:
lista_1

[4, 3, 2, 1]

In [38]:
numero  = 50393
numero_string = str(numero)
lista = []
for i in numero_string:
    lista.append(int(i))

lista.reverse()
lista

[3, 9, 3, 0, 5]

In [ ]:
numero_lista = [1,2,3,4]
bool("")

True

In [85]:
numero = 23454346

def lista_numero(numero):
    if type(numero) == int or type(numero) == str:
        numero_string = str(numero)
        lista = []
        for i in numero_string:
            lista.append(int(i))

        lista.reverse()
        return lista
    else:
        print("El brocoli que has metido no es un numero, marixoxo")


lista_numero(4000)

[0, 0, 0, 4]

In [ ]:
lista_numero(1234)

[4, 3, 2, 1]

In [87]:
lista_numero("1234")

[4, 3, 2, 1]

In [ ]:
lista_numero(tuple([1,2,3]))

El brocoli que has metido no es un numero, marixoxo

In [96]:
lista_numeros = [1,2,3]
tupla_numeros = tuple(lista_numeros)
tupla_numeros[2]

3

# Ejercicio 2

### ¿Cuanta comida tengo en la mochila?

In [100]:
mochila = ["manzana", "movil","reloj","linterna","bocadillo","tortilla","mechero","agua","tienda_campaña"]

lista_comida = ["manzana","agua","zumo","arroz","tortilla"]

def cuanta_comida(mochila, lista_comida):
    contador = 0
    for i in lista_comida:
        if i in mochila:
            contador += 1
    
    return contador

def que_comida(mochila, lista_comida):
    comida_en_mochila = []
    for comida in lista_comida:
        if comida in mochila:
            comida_en_mochila.append(comida)

    return comida_en_mochila
        
    
cuanta_comida(mochila, lista_comida)

3

In [101]:
que_comida(mochila, lista_comida)

['manzana', 'agua', 'tortilla']



---

## 2. `formatear_nombre()`
Dada una lista de nombres escritos en minúsculas o con letras mayúsculas y minúsculas mezcladas, devuelve una nueva lista donde cada nombre está capitalizado correctamente (solo la primera letra en mayúscula).

**Input:**
- Una lista de strings, por ejemplo: `["ana", "jUAn", "LuIs"]`

**Output esperado:**
- Una lista de strings capitalizados, por ejemplo: `["Ana", "Juan", "Luis"]`

---

## 3. `match_result()`
Dada una lista de tuplas con dos números cada una, donde cada número representa el puntaje de dos equipos en un partido, determina el resultado del partido. 

**Input:**
- Una lista de tuplas de enteros, por ejemplo: `[(3, 1), (2, 2), (1, 4)]`

**Output esperado:**
- Una lista de strings con el resultado para cada partida, por ejemplo: `["ganador", "empate", "perdedor"]`

---

## 4. `what_is_between()`
Crea una lista con todos los números enteros entre dos valores dados, incluyendo ambos extremos.

**Input:**
- Dos números enteros, por ejemplo: `3` y `7`

**Output esperado:**
- Una lista de enteros entre los valores dados, por ejemplo: `[3, 4, 5, 6, 7]`

---

## 5. `es_mayus()`
Dado un string, verifica si todas sus letras están en mayúsculas. Ignora los espacios para que no afecten el resultado.

**Input:**
- Un string, por ejemplo: `"HOLA MUNDO"`

**Output esperado:**
- `True` si todas las letras están en mayúsculas, `False` en caso contrario.

---

## 6. `cuanta_comida_en_mochila()`
Dadas dos listas: una llamada `comida` con los alimentos que quieres comprobar y otra llamada `nevera` con los alimentos que tienes, cuenta cuántos de los alimentos de `comida` se encuentran en `nevera`.

**Input:**
- Dos listas de strings, por ejemplo: `["manzanas", "leche", "pan"]` y `["pan", "queso", "leche"]`

**Output esperado:**
- Un número entero que representa cuántos elementos de `comida` están en `nevera`, por ejemplo: `2`

---

## 7. `añadir_apellido()`
Dado un diccionario que representa a una persona con claves como "nombre" y "edad", añade una nueva clave llamada "apellido" con un valor proporcionado.

**Input:**
- Un diccionario, por ejemplo: `{"nombre": "Juan", "edad": 30}`
- Un string con el apellido, por ejemplo: `"García"`

**Output esperado:**
- El diccionario actualizado, por ejemplo: `{"nombre": "Juan", "edad": 30, "apellido": "García"}`

---

## 8. `corregir_nombre_socio()`
Dado un diccionario con un nombre incorrecto (por ejemplo, letras mezcladas o en minúsculas), revisa y corrige cada letra del nombre basándote en una versión de referencia correcta. La función debería trabajar para un solo diccionario y luego reutilizarse para corregir una lista de diccionarios de nombres.

**Input:**
- Un diccionario, por ejemplo: `{"nombre": "jUn", "edad": 40}`
- Un string con el nombre correcto, por ejemplo: `"Juan"`

**Output esperado:**
- El diccionario con el nombre corregido, por ejemplo: `{"nombre": "Juan", "edad": 40}`

---

## 9. `crear_diccionario_notas()`
Crea un diccionario que almacene nombres de estudiantes como claves y sus notas como valores. Puedes usar `zip()` para combinar dos listas: una de nombres y otra de notas.

**Input:**
- Dos listas, una con nombres de estudiantes (por ejemplo: `["Ana", "Luis", "Maria"]`) y otra con sus notas (por ejemplo: `[85, 90, 78]`).

**Output esperado:**
- Un diccionario donde cada nombre está asociado a su nota, por ejemplo: `{"Ana": 85, "Luis": 90, "Maria": 78}`

---

## 10. `crear_diccionario_notas_tupla()`
Similar al ejercicio anterior, pero aquí la información de los estudiantes y sus notas viene en una lista de tuplas. Cada tupla contiene el nombre y la nota de un estudiante.

**Input:**
- Una lista de tuplas, por ejemplo: `[("Ana", 85), ("Luis", 90), ("Maria", 78)]`

**Output esperado:**
- Un diccionario donde cada nombre está asociado a su nota, por ejemplo: `{"Ana": 85, "Luis": 90, "Maria": 78}`